RewriteEngine en
RewriteRule!. (Js | gif | jpg | jpg | png | css | eot | svg | ttf | woff | woff2 | map ) $ index.php

#Redireccion sin www.
RewriteEngine on

 RewriteCond %{HTTP_HOST} !^$

 RewriteCond %{HTTP_HOST} !^www\. [NC]

RewriteCond %{HTTPS}s ^on(s)|

 RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
